<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <!-- do napisania sql MODIFY i DELETE-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6">
            <img
              class="card-img-top mb-5 mb-md-0"
              src="/<%= product.img_url %>"
              alt="..."
            />
          </div>
          <div class="col-md-6">
            <form action="edit_product" method="post">
              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  value="<%= product.name %>"
                  id="ProductName"
                  aria-label="Username"
                  name="name"
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Description</span>
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                  style="height: 100px"
                  name="description"
                >
<%= product.description %></textarea
                >
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input
                  type="text"
                  class="form-control"
                  value="<%= product.price.toDecimal() %>"
                  aria-label="Price"
                  name="price"
                />
                <button
                  class="btn btn-outline-secondary"
                  type="submit"
                  id="inputGroupFileAddon04"
                >
                  Edit
                </button>
              </div>
            </form>
            <div class="d-grid gap-2">
              <form action="delete_product" method="post">
                <input type="hidden" name="id" value="<%= product.id %>" />
                <button
                  class="btn btn-primary py-2"
                  type="submit"
                  id="deletebutton"
                >
                  Delete product
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Number Store 2023
        </p>
      </div>
    </footer>
  </body>
</html>
